<!DOCTYPE html>
<html ng-app="myApp">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>

<body>
	<div ng-controller="myCtrl">

		result :
		<p></p>

<div>
		<div ng-repeat="x in InsurencObj.product">
			<span ng-click="productClick(x)">{{x.Name}} </span>
			<div ng-if="x.showEntity == true">
				<div ng-repeat="y in x.Entity">
					<span ng-click="entityClick(y)">{{y.Name}}</span>
					<div ng-if="y.showAttribute == true">
						<div ng-repeat="z in y.Attribute">
							<span>{{z.Name}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
</body>
</html>